.InputLabel {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0.75rem;
  color: #495057;
}

.Input {
  display: block;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  outline: none;
  font-size: 1rem;
  color: #495057;
}

.Input:disabled {
  background: #c0c0c0;
  border: 1px solid #c0c0c0;
}
