.Toolbar {
  width: 100%;
  padding: 10px 0px 35px 0px;
  height: 40px;
  color: white;
  background: rgb(10, 42, 102);
  background: linear-gradient(
    90deg,
    rgba(10, 42, 102, 1) 0%,
    rgba(22, 88, 130, 0.8071603641456583) 100%
  );
  /* background: rgb(7, 111, 226);
  background: linear-gradient(
    90deg,
    rgba(7, 111, 226, 1) 0%,
    rgba(38, 159, 225, 1) 35%,
    rgba(17, 192, 206, 1) 100%
  ); */
  text-align: center;
  /* border-bottom: 2px solid;
  border-image: linear-gradient(#fcd04b, #d7c68f) 30; */
  /* border-image: linear-gradient(#f2c94c, #f2994a) 30; */
  margin-bottom: 10px;
}

.Toolbar img {
}

.Toolbar .IconFilter {
  vertical-align: middle;
}
