body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
}
