.Container {
  text-align: right;
}

.Button {
  position: relative;
  border-radius: 5px;
  background: rgb(10, 42, 102);
  background: linear-gradient(
    90deg,
    rgba(10, 42, 102, 1) 0%,
    rgba(22, 88, 130, 0.8071603641456583) 100%
  );
  min-width: 100px;
  height: 35px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  outline: none;
  overflow: hidden;
  text-align: center;
}

.Button:hover .Icon {
  left: 50%;
}

.Button:hover .Text {
  transform: translateX(150px);
}

.Button .Icon {
  position: absolute;
  display: inline-block;
  left: -50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: ease-out 0.5s;
}

.Button .Text {
  transform: translateX(0px);
  display: inline-block;
  transition: ease-out 0.5s;
}
