.Filter {
  background: rgb(10, 42, 102);
  background: linear-gradient(
    90deg,
    rgba(10, 42, 102, 1) 0%,
    rgba(22, 88, 130, 0.8071603641456583) 100%
  );
  padding: 15px;
  min-height: 60px;
}

.FilterMenu {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #c4bcbc;
  width: 300px;
  min-height: 20px;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}

.FilterTitle svg,
.FilterTitle span {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.FilterBox {
  margin: 10px 15px 15px 0px;
  display: inline-block;
  vertical-align: middle;
  min-width: 100px;
}

.FilterBox input {
  margin: 0;
  margin-right: 5px;
}

.FilterLabels {
  font-size: 12px;
  font-weight: normal;
}
.NamespaceSelectBox {
  margin-top: 5px;
  width: 300px;
  font-weight: normal;
}
