@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.5);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.Controller {
  margin: 5px 5px 5px 0px;
  min-width: 350px;
  display: inline-block;
  animation: fadein 2s;
  border-radius: 5px;
}

.Controller .Header {
  border: 1px solid #3b3937;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  background: rgb(10, 42, 102);
  background: linear-gradient(
    90deg,
    rgba(10, 42, 102, 1) 0%,
    rgba(22, 88, 130, 0.8071603641456583) 100%
  );
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: white;
}

.StatusOK {
  top: 0;
  left: 0;
  margin: 5px;
  position: absolute;
  background: rgba(61, 199, 145, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.StatusNOK {
  top: 0;
  left: 0;
  margin: 5px;
  position: absolute;
  background: rgba(226, 79, 79, 0.3);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.StatusOK svg,
.StatusNOK svg {
  animation: beatHeart 1s infinite;
}

.Controller .Labels {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 10px 5px;
  font-size: 12px;
  color: black;
  white-space: nowrap;
}

.Body {
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  padding: 15px 15px 15px 5px;
  border: 1px solid #3b3937;
}

.Controller img {
  vertical-align: middle;
  padding-right: 10px;
}

.Controller .Labels p {
  margin-top: 0;
  margin-bottom: 0;
}
